/* ---------------------------------------------------------------------------------------------------- */
.border_solid_1px_000000 {
  border: solid 1px #000;
}
.textAlign_center {
  text-align: center;
}
.textAlign_left {
  text-align: left;
}
.textAlign_right {
  text-align: right;
}
