/* ---------------------------------------------------------------------------------------------------- */

/* Tables */

/* ---------------------------------------------------------------------------------------------------- */

/**
 * 테이블 요소 사이의 간격을 제거
 */
table {
	border-collapse: collapse;
	border-spacing: 0px;
}

tbody {
	text-align: center;
}
thead {
	text-align: center;
}

td,
th {
	border: @border_solid_1px_000000;
	font-size: 13px;
	font-weight: normal;

	height: 25px;

	text-align: center;

	padding: @padding2;
}