@w___SPAN: 20px;

@w__btn_Cancle: 70px;
@w__btn_SignIn: 50px;
@w__input_ID: 170px;
@w__input_PW: 170px;


#div__member_session-checkSession__Sign_In {
	color: #000;

	display: inline-block;

	font-size: 13px;

	position: absolute;

	border: @border_solid_1px_000000;

	padding: @padding5;

	top: 5px;
	right: 5px;

	height: auto;


	span {
		display: inline-block;
		text-align: right;
		width: @w___SPAN;
	}



	.btn_Cancle {
		width: @w__btn_Cancle;
		display: none;
	}
	.btn_SignIn {
	}

	.input_ID {
		text-align: @C;
		width: @w__input_ID;
	}

	.input_PW {
		text-align: @C;
		width: @w__input_PW;
	}
}