#div__country-getAllList__Table__Rolling {
	/*/
	left: 5px;
	bottom: 0px;
	right: 5px;

	width: 883px;
	height: 22px;
	//*/

	border: @border_solid_1px_000000;

	color: #000;
	font-size: 11px;

	display: inline-table;
	position: absolute;

	padding: @padding10;

	top: 5px;
	right: 5px;



	div { position: relative;}
	input { text-align: center; border-style: none; }

	.tbody {
		text-align: center;

		td {
			border: @border_solid_1px_000000;
		}
	}

	.thead {
		text-align: center;

		th {
			border: @border_solid_1px_000000;

			font-weight: normal;
			text-align: center;

			padding: @padding2;
		}
	}

	.btn_gt {
		position: absolute;
		right: 50px;
	}
	.btn_gtgt {
		position: absolute;
		right: 0px;
	}
	.btn_lt {}
	.btn_ltlt {}
}